<div class="top-fix" id="top-fix">
    <div class="top-menu">
        {% if site.menu %}
        <ul id="menu" class="menu">
            {% for name_path in site.menu %}
            {% assign name = name_path[0] %}
            {% assign path = name_path[1] %}
            {% assign itemName = name | downcase %}
            <li class="menu-item menu-item-{{ itemName }}">
                <a href="{{ path | relative_url }}" rel="section">
                    {% if site.menu_icons.enable %}
                    <i class="menu-item-icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i> <br />
                    {% endif %}
                    {{ __.menu[name] }}
                </a>
            </li>
            {% endfor %}

            {% if hasSearch %}
            <li class="menu-item menu-item-search">
                {% if site.swiftype_key %}
                <a href="javascript:;" class="st-search-show-outputs">
                    {% elsif site.local_search.enable or site.algolia_search.enable %}
                    <a href="javascript:;" class="popup-trigger">
                        {% endif %}
                        {% if site.menu_icons.enable %}
                        <i class="menu-item-icon fa fa-search fa-fw"></i> <br />
                        {% endif %}
                        {{ __.menu.search }}
                    </a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<script>
    var top = document.getElementById('top-fix');
    window.addEventListener('scroll',function (){
        const scrollY = window.scrollY || window.pageYOffset;
        if (scrollY >= 500) {
            top.classList.add('display_block')
        } else {
            top.classList.remove('display_none')
        }
    });
</script>
<style>
    .top-fix{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 55px;
        z-index: 999;
        background-color: #f1f1f1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .display_block{
        display: block;
    }
    .display_none{
        display: none;
    }
    .top-menu{
        position: relative;
        top: -20px;
    }
</style>