<div id="top-fix">
    <div class="top-menu">
        {% if site.menu %}
        <ul id="menu" class="menu">
            {% for name_path in site.menu %}
            {% assign name = name_path[0] %}
            {% assign path = name_path[1] %}
            {% assign itemName = name | downcase %}
            <li class="menu-item menu-item-{{ itemName }}">
                <a href="{{ path | relative_url }}" rel="section">
                    {% if site.menu_icons.enable %}
                    <i class="menu-item-icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i> <br />
                    {% endif %}
                    {{ __.menu[name] }}
                </a>
            </li>
            {% endfor %}


            <li class="menu-item menu-item-search">
                {% if site.swiftype_key %}
                <a href="javascript:;" class="st-search-show-outputs">
                    {% elsif site.local_search.enable or site.algolia_search.enable %}
                    <a href="javascript:;" class="popup-trigger">
                        {% endif %}
                        {% if site.menu_icons.enable %}
                        <i class="menu-item-icon fa fa-search fa-fw"></i> <br />
                        {% endif %}
                        {{ __.menu.search }}
                    </a>
                </a>
            </li>

        </ul>
        {% endif %}
    </div>
</div>
<script>
    let top_fixDOC = document.getElementById('top-fix');
    let windowWidth = window.innerWidth;
    let windowHeight = window.innerHeight;
    let timeOut = null;
    checkWindowWidth();
    window.addEventListener('resize', function() {
        windowWidth = window.innerWidth;
        windowHeight = window.innerHeight;
        checkWindowWidth();
    });
    function checkWindowWidth(){
        if(windowWidth >= 768){
            let nowScrollY = window.scrollY || window.pageYOffset;
            if(nowScrollY >= 380){
                showTopFixDOC();
            }
            window.addEventListener('scroll',scrollFun);
        }
        else{
            window.removeEventListener('scroll',scrollFun);
            top_fixDOC.style.display = 'none';
        }
    }
    function scrollFun(){
        const scrollY = window.scrollY || window.pageYOffset;
        if (scrollY >= 380) {
            showTopFixDOC();
        } else {
            hideTopFixDOC();
        }
    }
    function showTopFixDOC(){
        top_fixDOC.style.display = 'block';
        top_fixDOC.style.animation = 'show 0.2s ease-in';
        clearTimeout(timeOut);
    }
    function hideTopFixDOC(){
        top_fixDOC.style.animation = 'show 0.2s ease-in reverse';
        timeOut = setTimeout(function (){
            top_fixDOC.style.display = 'none';
        },200);
    }
</script>
<style>
    #top-fix{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 55px;
        z-index: 999;
        background-color: #f1f1f1ee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
    }
    .top-menu{
        position: relative;
        top: -20px;
    }
    @keyframes show  {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
</style>