::-webkit-scrollbar{
  background-color: transparent;
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0, 117, 146,0.5);
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(0, 117, 146);
}